<div class="page-header">
  <%= link_to issue_groups_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Issue and Repository Groups</h1>
</div>

<%= render 'form' %>

