<i class="group pull-left media-object"></i>
  <div class="media-body">
    <h2 class="media-heading">Manage Users</h2>
    <div class="media">
        <p>
            Manage the Users on your site
        </p>
        <p>
            <a class="btn" href="/profiles">View details »</a>
        </p>
    </div>
</div>