<div class="dash span10 offset1">
  <h1 class="text-center">Dashboard</h1>
  <h4 class="text-center">Welcome: <%= current_user.email %></h4>
  </br>
      <div class="span3 well media"><%= render "user_admin" %></div>
  </ul>
</div>